<form id="tableForm" action="/students" method="get">
    <input type="submit" value="Get Student Data" />
</form>

<------------------------>

<form id="tableForm" action="/marks" method="get">
    <input type="submit" value="Get Student Marks" />
</form>

